<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
</head>
<body>

      <!-- Background Video -->
      <div class="container">
        <video class="back-vid" loop autoplay muted plays-inline src="videos/blackhole.mp4" type="video/mp4"></video>
    </div>
    <header>
        <a href="/"><img src="images/A.png" alt="Logo" title="logo" ></a>
        
        
    </header>
    <!-- Matrix Background Canvas -->
    <canvas id="matrixCanvas"></canvas>

    <!-- Login Form -->
    <div class="login-container">
        <h2>تسجيل الدخول</h2>
        <form id="login-form" method="POST" action="/login">
            <input type="email" id="email" name='email' placeholder="البريد الإلكتروني" required>
            <input type="password" id="password" name='password' placeholder="كلمة المرور" required>
            <button type="submit" id="login-btn" >دخول</button>
            
        </form>
        <p>ليس لديك حساب؟ <a href="#" id="show-register">سجل الآن</a></p>
        <p id="login-message" class="login-message"></p>
    </div>

    <!-- Register Form -->
<div class="register-container" style="display: none;">
    <h2>تسجيل حساب جديد</h2>
    <form id="register-form" method="POST" action="/register"> 
        <input type="text" name="newUsername" id="new-username" placeholder="الاسم الكامل" required>
        <input type="email" name="newEmail" id="new-email" placeholder="البريد الإلكتروني" required>
        <input type="password" name="newPassword" id="new-password" placeholder="كلمة المرور" required>
        <button type="submit" id="reg-btn">تسجيل</button>
    </form>
    <p>هل لديك حساب؟ <a href="#" id="back-to-login">سجّل الدخول</a></p>
    <p id="register-message" class="login-message"></p>
</div>

    <script src="script.js"></script>
    <script>
        const loginContainer = document.querySelector('.login-container');
        const registerContainer = document.querySelector('.register-container');
    
        document.getElementById('show-register').addEventListener('click', (e) => {
            e.preventDefault();
            loginContainer.style.display = 'none';
            registerContainer.style.display = 'block';
        });
    
        document.getElementById('back-to-login').addEventListener('click', (e) => {
            e.preventDefault();
            registerContainer.style.display = 'none';
            loginContainer.style.display = 'block';
        });
    </script>
    
</body>

</html>